body{
    background-color: #F5F6F1;
}
    #menu-one{
    display:flex;
    flex-direction: row;
    column-gap: 100px;
    position:absolute;
    left:10%;
    top:40%;}

        #menu-pngone{
            z-index:999;
        width:40%;
        height:40%;
        top:50%;}
        #menu-pngone:hover{
            opacity:0;
        }

    #menu-two{
        z-index:999;
        display:flex;
        flex-direction: row;
        column-gap: 100px;
        position:absolute;
        left:10%;
        top:100%;
        width:30%;}   
       #menu-pictureone{
           z-index:999;
       }
        #menu-picturetwo{
        width:100%;
        height:100%;}


    #menu-text{
        z-index:1;
        display:flex;
        flex-direction: row;
        position:absolute;
        top:55%;
        left:25%;
        column-gap: 500px;
        font-family:Paralucent;
        color:#D20000;}

        #menu-texttwo{
            z-index:1;
            width:250px;
            position:absolute;
            top:130%;
            left:10%;        
            font-family:Paralucent;
            color:#D20000;}
     
