body{
    background-color: rgb(0, 0, 0)
    ; 
    width:1000000px;
    height: 1000000px;
    padding:20px;
    margin:20px;
    color:white;}
  
  
  
    .goIndex {
  
      position: absolute;
      left: 35.7%;
      top:5%;
      filter:blur(5px);
      color: white;
      font-family: 'Michroma';
      z-index: 999;
      cursor: pointer;
      font-size: 2vw;
      transition: all 0.3s;
      animation:mysixth 2.3s linear 1;
      
  
  }
  
  .goIndex:hover {
    filter:blur(0px);
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
    .swiper-button-next, .swiper-button-prev {
      position: absolute;
      top: 25%;
      width: 20px;
      height: 20px;
      margin-top: -25px;
      -moz-background-size: 27px 44px;
      -webkit-background-size: 27px 44px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
  }
  
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      background-image: url('./left.png');
      background-size: cover;
      right: 10px;
      left: auto
  }
   #stage_before_navigation{
     color:white;
     z-index:999999999;
    display:flex;
    flex-direction: row;
    column-gap: 1%;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    position:fixed;
    overflow-x: auto;
    left:10%;
    font-size:10pt;
    top:2%;
    font-family: 'Michroma', sans-serif;
    animation: marquee 15s linear infinite;
    animation-duration: infinite;
    animation-iteration-count: infinite;  }
   
    a{
      color:white;
      text-decoration: none;}

    a:hover{
      animation:mysixth;
       filter:blur(3px) ;}

   
       body {
        background-color: rgb(0, 0, 0);
        width: 1000000px;
        height: 1000000px;
        padding: 20px;
        margin: 20px;
        color: white;
      
        width: 100vw;
        height: 100vh;
      }
      
      #stage_before_navigation {
        display: flex;
        flex-direction: row;
        column-gap: 1%;
        position: absolute;
        left: 10%;
        top: 2%;
        font-family: 'Michroma', sans-serif;
      }
      
      
      
      #img_container {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        animation: mysixth;
        animation-duration: 1.3s;
        animation-iteration-count: 1.3s;
        filter: blur(10px); 
      }
      
      #img_container:hover {filter: blur(0px); }
      
      
      #movies_container {
        display: flex;
        flex-direction: row;
        
       
      }
      
      #img_1 {
        filter: blur(1px);
        width: 100px;
        height: 100px;
        border: 1px solid white;
      }
      
      #img_1:hover {
        filter: blur(0px);
      }
      
      .stage_before_filmname {
        animation: mysixth;
        /* width: 800px; */
        animation-duration: 1.3s;
        animation-iteration-count: 1.3s;
        font-size: 30pt;
        text-align: center;
      line-height: 100pxs;
        margin-top: 100px;
        bottom: 5%;
        font-family: 'Michroma', sans-serif;
      }
      
      
      .stage_before_filmmaker {
        bottom: 0%;
        left: 4%;
        text-align: center;
        font-family: 'Michroma', sans-serif;
        font-size: 15pt;
        margin-top: 10px;
        ;
      }
      
      
      
      .stage_before_country {  margin-top: 5%;font-size: 10pt;
        font-family:Lantinghei Sc; }
      
      .stage_before_date {  font-size: 10pt;
        font-family:Lantinghei Sc; }
      
      .stage_before_description {font-size: 10pt;
        font-family: 'Michroma', sans-serif;}
     
      .stage_before_genre {font-size: 10pt;
        font-family:Lantinghei Sc; }
      
      
      
      
      .stage_before_info {
        font-family: 'Michroma', sans-serif;
        text-align: center;
        filter: blur(10px); 
        /* position: relative;
        top: 50%; */
       
        line-height: 30px;
        /* width: 800px; */
     }

        .stage_before_info:hover{
          overflow:auto;
          animation:  scaleUpDown .5s ease both; 
          animation-duration:infinite;
          filter: blur(0px); 
        }
      
      #movies_container {
        
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        
      }
      
      #years_container {
        display: flex;
        flex-direction: row;
        filter: blur(0px); 
      }
      
      
      
      @keyframes mysixth {
        0% {
          filter: blur(50px);
          text-shadow: 20px 20px 20px white;
        }
      
        50% {
          text-shadow: 20px 20px 20px white;
        }
      
        60% {
          text-shadow: 10px 15px 10px white;
        }
      
        70% {
          text-shadow: 10px 10px 10px white;
        }
      
        80% {
          text-shadow: 5px 5px 5px white;
        }
      
        90% {
          text-shadow: 2px 2px 2px white;
        }
      
        100% {
          filter: blur(1px);
        }
      }
      @keyframes scaleUpDown {   
        from { opacity: 0; transform: scale(1.0);}   
        }    
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
      }
      
      @keyframes marquee {
        0%   { text-indent: 0em;left:0%; }
        100% { text-indent: 2em;left:0%; }
      }
      html,
      body {
        font-size: 20px;
        margin: 0;
        padding: 0;
        background-color: #efefef;
        overflow: hidden;
      }
      
      ul,
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      ul {
        position: relative;
        width: 100vw;
        height: auto;
        overflow-y: scroll;
      }
      
      li {
        position: absolute;
        width: 40vw;
        height: auto;
        left: 30vw;
        height: 100vh;
      }
      
      li img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0.15rem;
      }
      
      #years_container {
        height: 75px !important;
      }
      
      #years_container>li {
        width: 20vw;
        left: 30vw;
        height: 50px;
        font-family: 'Michroma', sans-serif;
        text-align: center;
        font-size: 20pt;
        line-height: 35px;
      }


      @media screen and (max-width: 750px) 
      {.stage_before_filmname{font-size:20pt;}
       .stage_before_filmmaker{margin-top: 0%;font-size:10pt;}
       #years_container{height:100px;}
       #img_container{margin-top: 20%;}
       .stage_before_country{margin-top: 20%;}
       .stage_before_description {font-size: 7pt;}

    }