body{
    background-color: rgb(0, 0, 0)
    ; 
    width:1000000px;
    height: 1000000px;
    padding:20px;
    margin:20px;
    color:white;}

   #stage_before_navigation{
    display:flex;
    flex-direction: row;
    column-gap: 1%;
    position:fixed;
    overflow-x: auto;
    left:10%;
    top:2%;
    font-family: 'Michroma', sans-serif;}
   
   
   
    #img_container{
      display:flex;
      flex-direction: row;
    animation:mysixth;
    animation-duration: 1.3s;
    animation-iteration-count: 1.3s;
   }

        #img_container:hover{ }




     #img_1{
    filter: blur(1px);
    width: 100px;
    height: 100px;  
    border: 1px solid white;}
       #img_1:hover{
    filter: blur(0px); }

       .stage_before_filmname{
        animation:mysixth;
        width:800px;
        animation-duration: 1.3s;
          animation-iteration-count: 1.3s;
        font-size:40pt;
        text-align: center;

        bottom:5%; 
        font-family:'Michroma', sans-serif;}


        .stage_before_filmmaker{  
        bottom:0%; 
        left:4%;
        text-align: center;
        font-family:  'Michroma', sans-serif;
        font-size: 10pt;;}



        .stage_before_country{}
        .stage_before_date{}
        .stage_before_description{
            font-size:10pt;
        }
         
        
        
        
        .stage_before_info{
            font-family: 'Michroma', sans-serif;
            text-align: center;
            position:relative;
            top:50%;
            font-size:20pt;
            line-height: 40px;
            width:800px;


        }
       #movies_container{
           display: flex;
           flex-direction: row;
          
          
          }
     

       
       
        @keyframes mysixth{
            0%{filter: blur(50px); text-shadow:20px 20px 20px white; }
               50%{ text-shadow:20px 20px 20px white; }
               60%{ text-shadow:10px 15px 10px white; }
               70%{ text-shadow:10px 10px 10px white; }
               80%{ text-shadow:5px 5px 5px white; }
               90%{ text-shadow:2px 2px 2px white; }
                 100% {filter: blur(1px);  }
           }  