body{
    background-color:#E5E5E5 ;
    padding:10px;
    margin:10px;}

    .stage_two_navigation{
        color:#FF0C0C;    
        display:flex;
        flex-direction:row;
        justify-content: center;
        row-gap:0px;
        padding:5px;
        margin:10px;
        z-index:999;
        position:absolute;;
        column-gap:280px;}

        .stage_one{
            font-family: Apple lisung;
            font-size:10pt;;}
      
          .stage_two{
            font-family:Lantinghei Sc; 
            font-weight:700;
            font-size:40pt;}
      
             .stage_three{
              font-family: Apple lisung;
              font-size:10pt;}

        .stage_one:hover{ 
            opacity:50%;
            font-size:11pt;
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;}
        
        .stage_three:hover{
            opacity:50%;
            font-size:11pt;
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;}

    .text_two{  
        font-family: Apple Lisung;
        display:flex;
        flex-direction: row;
        column-gap:60px;
        color:#474747 ;
        top:50%;
        left:25%;
        position:absolute;
        overflow: hidden;
        }
    

        .text_two_one{
            font-size:12pt;}

                 .text_two_one_show { 
                transition: all .4s cubic-bezier(.4, 0, .2, 1);
                font-size:4pt;
                text-align: justify;
                color:#474747 ;
                letter-spacing:5px;
                width:150pt;
                opacity:0;}
                    
     
            

        .text_two_two{
              font-size:12pt;}

                .text_two_two_show{
                opacity:0;        
                font-size:4pt;
                text-align: justify;
                color:#474747 ;
                letter-spacing: 5px;
                width:150pt;}
        


        .text_two_three{
              font-size:12pt;}

                .text_two_three_show{
                font-size:4pt;
                text-align: justify;
                color:#474747 ;
                letter-spacing: 5px;
                width:150pt;  
                opacity:0;}

        
    .text_two:hover{
        color:#8a8a8a;}



                .text_two_one_show:hover{
                    font-size:30pt;
                    font-family:helvetica light;
                    color:#FF0C0C; 
                    text-align: left;
                    width:360pt;
                    letter-spacing:0pt;
                    line-height: 45px;;
                    padding-top: 30px;
                    opacity:1;
                    transition: all .4s cubic-bezier(.4, 0, .2, 1);}
        
                .text_two_two_show:hover{
                    font-size:30pt;
                    font-family:helvetica light;
                    color:#FF0C0C; 
                    text-align: left;
                    width:360pt;
                    letter-spacing:0pt;
                    line-height: 45px;;
                    padding-top: 30px;
                    opacity:1;
                    transition: all .4s cubic-bezier(.4, 0, .2, 1);}
        
                .text_two_three_show:hover{
                    font-size:30pt;
                    font-family:helvetica light;
                    color:#FF0C0C; 
                    text-align: left;
                    width:360pt;
                    text-align:right;
                    letter-spacing:0pt;
                    line-height: 45px;;
                    padding-top: 30px;
                    opacity:1;
                    position:relative;
                    right:60%;
                    transition: all .4s cubic-bezier(.4, 0, .2, 0);}


    .chinese_equall{ 
       
                        top:50%;
                        left:6%;
                        display:flex;
                        flex-direction: row ;
                        column-gap:85px;}


   
        .chinese_equall_left{
                    color:#474747 ;
                    position:fixed;
                    top:50%;
                    left:4%;
                    display:flex;
                    flex-direction: row ;
                    column-gap:85px;
                    font-family:Apple lisung; 
                    font-size: 8pt;}
        .chinese_equall_right{
                    color:#474747 ;
                    position:fixed;
                    top:50%;
                    right:10%;
                    display:flex;
                    flex-direction: row ;
                    column-gap:85px;
                    font-family:Apple lisung; 
                    font-size: 8pt;}
                 
        .chinese_equall_left:hover{
                        animation:  scaleUpDown .5s ease both; 
                        animation-duration:infinite;
                                        color:#8a8a8a;}
        .chinese_equall_right:hover{
                                            animation:  scaleUpDown .5s ease both; 
                                            animation-duration:infinite;
                                                            color:#8a8a8a;}
        .chinese_equall_left_one:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}
        .chinese_equall_left_two:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}  
        .chinese_equall_left_three:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}             
        .chinese_equall_right_one:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}
        .chinese_equall_right_two:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}
        .chinese_equall_right_two:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}
        .chinese_equall_right_three:hover{
            animation:  scaleUpDown .5s ease both; 
            animation-duration:infinite;
                            color:#8a8a8a;}


                             
       
            #stage_two_line_one{
               background-color:#FF0C0C; 
               width:1px;
               height:200px;
               position:fixed;
                    top:41%;
                    left:4.35%;
                animation:myfifth;
                     animation-duration: 8s;
                     animation-iteration-count: infinite;}                              
            
            #stage_two_line_three{
                background-color:#FF0C0C; 
                width:1px;
                height:200px;
                position:fixed;
                     top:41%;
                     left:17.8%;
                animation:myfifth;
                     animation-duration: 8s;
                     animation-delay:1s;
                     animation-iteration-count:infinite;}
            
            #stage_two_line_two{
                background-color:#FF0C0C; 
                width:1px;
                height:200px;
                position:fixed;
                       top:41%;
                       left:11.1%;
                animation:myfifth;
                       animation-duration: 8s;
                       animation-delay:0.5s;
                       animation-iteration-count:infinite;}
            
            #stage_two_line_four{
                    background-color:#FF0C0C; 
                    width:1px;
                    height:200px;
                    position:fixed;
                         top:41%;
                         left: 76%;
                    animation:myfifth;
                         animation-duration: 8s;
                         animation-delay:0.3s;
                         animation-iteration-count:infinite;}                              
                 
            #stage_two_line_five{
                        background-color:#FF0C0C; 
                        width:1px;
                        height:200px;
                        position:fixed;
                             top:41%;
                             left:82.77%;
                        animation:myfifth;
                             animation-duration: 8s;
                             
                             animation-iteration-count:infinite;}                              
                                          
            #stage_two_line_six{
                            background-color:#FF0C0C; 
                            width:1px;
                            height:200px;
                            position:fixed;
                                 top:41%;
                                 left:89.5%;
                            animation:myfifth;
                                 animation-duration: 8s;
                                 animation-delay:0.2s;
                                 animation-iteration-count:infinite;}                              
 
                                 
                    #stage_two_line_one:hover{    
                        animation:mysixth;
                        animation-duration: infinite;
                        animation-iteration-count: infinite;}
                    #stage_two_line_two:hover{    
                        animation:mysixth;
                        animation-duration: infinite;
                        animation-iteration-count: infinite;}
                    #stage_two_line_three:hover{    
                        animation:mysixth;
                        animation-duration: infinite;
                        animation-iteration-count: infinite;}
                    #stage_two_line_four:hover{    
                        animation:mysixth;
                        animation-duration: infinite;
                         animation-iteration-count: infinite;}
                    #stage_two_line_five:hover{    
                        animation:mysixth;
                        animation-duration: infinite;
                        animation-iteration-count: infinite;}
                    #stage_two_line_six:hover{    
                        animation:mysixth;
                        animation-duration: infinite;
                        animation-iteration-count: infinite;}
 
     @keyframes mysixth{
                                    0%{height: 20%; }
                                    
                                      100% {height: 100%;}
                                }      
    @keyframes myfifth{
                                    0%{transform: rotateX(900deg); }
                                      50%  {transform: rotateX(700deg);}
                                      100% {transform: rotateX(900deg);}
                                }   
    @keyframes scaleUpDown {   
    from { opacity: 0; transform: scale(1.2); }}    


 @media only screen and (max-width: 600px){  
    .stage_two_navigation{
        flex-direction:column;
        text-align: center;
        left:0%;
        justify-content: center;}
   
    .text_two{ flex-direction: column;
        position:absolute;
        top:70%;
        left:0%;
        row-gap:10px;
        padding:10pt;}

                .text_two_one_show:hover{right:0%;}

    .chinese_equall_left{ 
         position:absolute;
         column-gap: 50pt; }

    .chinese_equall_right{ 
         position:absolute;
         column-gap: 50pt; }

    #stage_two_line_one{
        position:absolute;
        top:42%;left:5%;}
        #stage_two_line_two{
            position:absolute;
            top:42%;left:21%;}
            #stage_two_line_three{
                position:absolute;
                top:42%;left:36.5%}
                #stage_two_line_four{
                    position:absolute;
                    top:42%;left:57.5%;}
                    #stage_two_line_five{
                        position:absolute;
                        top:42%;left:72.9%;}
                        #stage_two_line_six{
                            position:absolute;
                            top:42%;left:88.7%;}

    

               .text_two_one_show:hover{
               font-size:20pt;
               width:280pt;
               padding:10pt;}
               .text_two_two_show:hover{
                font-size:20pt;
                width:280pt;
                padding:10pt;}
                .text_two_three_show:hover{
                font-size:20pt;
                width:280pt;
                padding:10pt;
                text-align: left;
                left:0;}
               }







