.content {
    display:flex;
    padding: 0.5rem;
    flex-direction:row; 
}
p{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
section{
    padding:50px;
    margin:50px;
    display:flex;
    flex-direction:row;
}

span{
  display:inline-block;
 border-bottom: 1px solid black;
 width:200px;
    
}